<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
	<link rel="stylesheet" href="/static/css/join/join.css">
</head>
<body>
	<div>
		<div class = "body-layout">
			<div class="mobile-title-width">
				<div class="logo-box">
					<div class="logo-container">
						<a href="#"><!-- 메인페이지 링크 -->
							<span>
								<img src="/static/img/logo.png" class="logo">
							</span>
						</a>
					</div>
				</div>
			</div>
			<!-- 입력창 박스-->
		<div class = "form-layout">
			<div>
			<!-- 입력창 레이아웃-->
				<div class ="form-row">
					<!-- 입력창들-->
					<div class ="input-data">
						<!-- 이름 입력 -->
						<fieldset class="text-field">
							<legend class ="form-label">이름</legend>
							<div  class ="float-button-right input-group">
								<input id="userName" class= "text-input form-control" type = "text" name ="userName" placeholder="이름(실명)을 입력해주세요">
							</div>
							<span class ="invalid-feedback name-check" style ="color : red;"></span>
						</fieldset>
					</div>
					<div class ="input-data">
						<!-- 이메일 입력 -->
						<fieldset class="text-field">
							<legend class ="form-label">아이디</legend>
							<div  class ="float-button-right input-group">
								<input id ="identification" class= "text-input form-control" type = "text" name ="identification" placeholder="아이디를 입력해주세요">
							</div>
							<span class ="invalid-feedback identification-check" style ="color : red;"></span>
						</fieldset>
					</div>
					<div class ="input-data">
						<!-- 비밀번호 입력 -->
						<fieldset class="text-field">
							<legend class ="form-label">비밀번호</legend>
							<div>
								<div class ="float-button-right input-group" style="position: relative;">
									<input id ="password" class= "text-input form-control" type = "password" name ="password" placeholder="영문+숫자 조합 8자리 이상 입력해주세요">
									<button type ="button" class ="btn password-show btn-secondary">표시</button>
								</div>
							</div>
							<span class ="invalid-feedback pw-check" style ="color : red;"></span>
						</fieldset>
					</div>
					<div class ="input-data">
					<!-- 선택하는 구역 -->
						<section style ="display : block;">
							<!-- 전체 동의 -->
							<div class ="all-check custom-checkbox custom-control">
								<input class ="custom-control-input" type="checkbox" id = "allSelect">
								<label class ="custom-control-label" for = "allSelect">
									<span class = "all-check-label">전체동의</span>
								</label>
							</div>
							<div class ="terms-container">
								<!-- 3가지 선택 이용약관, 개인정보 이용 동의, 만14세이상 -->
								<div>
									<ul>
										<li class = "term-item">
											<!-- 이용약관 -->
											<div class = "custom-control custom-checkbox">
												<input class ="custom-control-input"  type = "checkbox" id = "useCheck" name ="check">
												<label class ="custom-control-label" for="useCheck">
													<p class ="term-label" style="padding-left: 7px;">(필수) 이용약관 동의</p>
												</label>
											</div>
										</li>
										<li class = "term-item" style = "margin-top: 1rem;">
											<!-- 개인정보 이용 동의 -->
											<div class = "custom-control custom-checkbox">
												<input class ="custom-control-input" type = "checkbox" id = "useAgree" name ="check">
												<label class ="custom-control-label" for="useAgree">
													<p class ="term-label" style="padding-left: 7px;"> (필수) 개인정보 수집 및 이용 동의</p>
												</label>
											</div>
										</li>
										<li class = "term-item" style = "margin-top: 1rem;">
											<!-- 만14세이상 -->
											<div class = "custom-control custom-checkbox">
												<input class ="custom-control-input" type = "checkbox" id = "ageCheck" name ="check">
												<label class ="custom-control-label" for="ageCheck">
													<p class ="term-label" style="padding-left: 7px;">(필수) 14세 이상</p>
												</label>
											</div>
										</li>
									</ul>
								</div>
						</section>
					</div>
						<!-- 회원가입 버튼 --> 
						<div class ="input-data">
							<button class ="btn btn-signup btn-primary btn-submit">
								<span>
									회원가입
								</span>
							</button>
						</div>
						<!-- 로그인 페이지 -->
						<div class ="input-data">
							<a href="#" class ="pro-sign-up" style="text-decoration: none;">
								아이디가 있으신가요?
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer"></div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/static/js/join/join.js"></script>
</html>