@charset "UTF-8";

input:focus {
    outline:  3px solid #a3c4f3;
    border: none;
}

.main-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fafafa;
    justify-content: flex-start;
}

.back-image-box {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: stretch;
    flex-direction: column;
}

.main-cotainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
    flex-direction: column;
    z-index: 1;
    position: absolute;
}

.header-box {
    display: block;
    width: 100%;
    max-width: 1232px;
    margin: 0px auto;
}

.header-container {
    display: flex;
    place-content: stretch flex-start;
    flex-shrink: 1;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    align-items: stretch;
}

.header-flex {
    display: flex;
    align-content: stretch;
    flex-shrink: 1;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    overflow: visible;
    height: 52px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}



.header-margin {
    margin-top: 10px;
    display: flex;
    place-content: stretch space-between;
    flex-shrink: 1;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 202;
    max-width: 100%;
    align-self: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.logo-box {
    display: flex;
    place-content: stretch flex-start;
    flex-shrink: 0;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    -webkit-box-pack: start;
    -webkit-box-align: center;
    align-items: center;
}

.logo-container {
    display: flex;
    align-content: stretch;
    flex-shrink: 1;
    flex-direction: column;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0px;
}

.logo {
    width: 150px;
}

.content-container-back-color {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0.0625rem solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.content-container {
    width: 100%;
    max-width: 26.5rem;
    border: 0.0625rem solid #f2f2f2;
    border-radius: 8px;
    padding: 2.5rem;
    margin: 0 auto;
    box-shadow: none;
}

.login-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.login-form {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.3125rem;
    margin-left: -0.3125rem;
}

.login-text-box {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
}

.login-text-container {
    margin-bottom: 1.5rem;
}

.login-text-container legend {
    font-size: 1rem;
    padding-bottom: 0.375rem;
    font-weight: 500;
}

.login-input {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem);
    padding: 0.6875rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.0625rem solid #e1e1e1;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.login-input {
    padding: 0.75rem;
    border-radius: 4px;
    border: 0.0625rem solid #fa5963;
}

.error-msg {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #fa5963;
}

.btn {
    width: 100%;
    margin-bottom: 0.75rem;
    font-weight: 400;
    border: 0.0625rem solid transparent;
    padding: 0.6875rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.login-button {
    color: #fff;
    background-color: #8eecf5;
    border-color: #8eecf5;
}

.login-button:hover {
    background-color: #cfbaf0;
}

.join-box {
    display: flex;
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
}

.join-container {
    display: flex;
    margin: 0 auto 2rem;
    font-size: .875rem;
}

.line {
    margin: auto 0.75rem;
    width: 0.0625rem;
    height: 0.75rem;
    background-color: #e1e1e1;
}

.join-container a {
    color: #737373;
    padding: 0.375rem 0.5rem;
    font-weight: 400;
}

@media (min-width : 1024px) {
    .header-height {
        height: 64px;
    }

    .header-margin {
        padding-left: 100px;
        padding-right: 40px;
        max-width: 1312px;
    }

    .logo-container {
        margin-right: 48px;
    }
}

@media (max-width : 640px) {
}

