<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.app.practice.domain.vo.member.MemberVO" alias="memberVO"></typeAlias>
        <typeAlias type="com.app.practice.domain.vo.board.BoardVO" alias="boardVO"></typeAlias>
        <typeAlias type="com.app.practice.domain.dto.BoardDTO" alias="boardDTO"></typeAlias>
    </typeAliases>
</configuration>