<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 목록</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/board/boardList.css">
</head>
<body>
    <div class="box">
        <div class="container">
            <div class="main-box">
                <section class="main-container">
                    <div class="content-header-box">
                        <section class="content-header-container">
                            <h1 class="content-header-title">커뮤니티</h1>
                            <div class="write-button-box">
                                <div class="write-button-container">
                                    <button class="write-button" onclick="location.href='/board/write'">
                                        <p>글쓰기</p>
                                        <img class="pen-image" src="/img/board/pen.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </section>
                    </div>
                    <article class="content-box">
                        <ul class="content-ul">
                            <!-- 게시판 리스트 -->
                        </ul>
                    </article>
                </section>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    let memberId = [[${session.memberId}]];
</script>
<script>
    let page = 1;

    const boardService =(function(){
        function getList(page){
            $.ajax({
                url : "/board/list/" + page,
                success : function (list){
                    $(".content-ul").append(loadBoardList(list));
                }
            });
        }

        return {getList : getList}
    })();
    boardService.getList(page);
    $(window).scroll(
        function() {
            if ($(window).scrollTop() + 20 >= $(document).height() - $(window).height()) {
                page++;
                boardService.getList(page);
            }
        }
    );

    function loadBoardList(boardList){
        let text = '';

        $(boardList).each((i, boardDTO) => {
            let boardFileDTOS = boardDTO.boardFileVOS;

            text += `
                            <li>
                                <section class="content-container">
                                    <a href="/board/board?boardId=${boardDTO.boardId}">
                                        <div class="content-image-box">
                                        `;
            if(boardFileDTOS.length == 0){
                text+=                      `
                                            <img src="/img/no-image.png" style="object-fit: contain">
                                         `;
            }else {
                text+=                      `
                                            <img src="/file/display?fileName=${boardFileDTOS[0].boardFilePath}/${boardFileDTOS[0].boardFileUuid}_${boardFileDTOS[0].boardFileOriginalName}">
                                         `;
            }

           text+=  `                            </div>
                                        <h3 class="content-title">${boardDTO.boardTitle}</h3>
                                        <p class="content-writer">${boardDTO.memberVO.memberName}</p>
                                    </a>
                                </section>
                            </li>
    `;
        });

        return text;
    }

</script>
</html>