<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 작성페이지</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/board/boardWrite.css">
</head>
<body>
<div class="box">
    <div class="container">
        <div class="main-box">
            <div class="main-container">
                <form action="/board/write" method="post" name="form" enctype="multipart/form-data">
                    <div class="main-header-box">
                        <div class="main-header-container">
                            <button type="submit" class="register-button">등록</button>
                        </div>
                    </div>
                    <div class="image-input-box">
                        <div class="image-input-container">
                            <label class="image-icon" for="boardImage"></label>
                            <div class="file-input-box">
                                <input id="boardImage" type="file" class="file-input" multiple>
                            </div>
                            <span class="image-count">0/15</span>
                        </div>
                    </div>
                    <div class="title-box">
                        <div class="title-container">
                            <label class="title-input-box">
                                <input type="text" class="title" name="boardTitle" placeholder="제목을 입력해주세요.">
                            </label>
                        </div>
                    </div>
                    <div class="content-wrapper">
                        <hr class="line">
                    </div>
                    <div class="sumnail-box">
                        <div class="sumnail-container">
                            <!--썸네일 들어가는 곳-->
                        </div>
                    </div>
                    <div class="board-content-box">
                            <span class="text-body">
                                <textarea class="contents" name="boardContent"></textarea>
                            </span>
                        <span class="contents-info text-body">
                                생활 속에서 궁금했던 모든 것을 물어보세요.

                                예) 도어락 버튼이 작동을 안 하는데 왜 그런건가요?
                                예) 바닥 장판이 들떴는데 원인이 궁금해요.

                                ※ 주제에 맞지 않는 글이나 커뮤니티 이용정책에 위배되는 글은 신고의 대상이 됩니다.
                                ※ 일정 수 이상의 신고를 받으면 작성한 글이 숨김 및 삭제될 수 있습니다.
                            </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    let memberId = [[${session.memberId}]];
</script>
<script>
    $(".register-button").click(() => {
        if (!$(".title").val()) {
            alert("제목 입력");
            return false;
        } else if (!$(".board-content").val()) {
            alert("내용 입력");
            return false;
        }
    })

</script>
<script>
    globalThis.uuids = [];
    let files = [];
    FileList.prototype.forEach = Array.prototype.forEach;
    let $imageWrap = $(".sumnail-container");


    //  썸네일
    $("input[type=file]").change(() => {
        const $files = $("input[type=file]")[0].files;

        let formData = new FormData();

        $($files).each((i, file) => {
            files.push(file);
        })

        $files.forEach((file, e) => {
            formData.append("file", file);
        })

        $.ajax({
            url: "/file/upload",
            type: "post",
            data: formData,
            contentType: false,
            processData: false,
            success: function (uuids) {
                $(uuids).each((i, uuid) => {
                    globalThis.uuids.push(uuid);
                });
                let text = '';
                $files.forEach((file, i) => {
                    if (file.type.startsWith("image")) {
                        text = `
                                <div class="sumnail-view">
                                    <img src="/img/board/cancel.png" class="cancel-image">
                                    <img src="/file/display?fileName=${toStringByFormatting(new Date())}/t_${uuids[i]}_${file.name}"" class="sumnail">
                                </div>
                                `;
                    }
                    $imageWrap.append(text);
                });
            }
        });
    });


    //  파일 첨부 취소
    $(".sumnail-container").on("click", ".cancel-image", function(e){
        const dataTransfer = new DataTransfer();
        // 이미지 태그 부모
        let target = $(e.currentTarget).parent();
        let fileArray = Array.from(files);
        let imageBox = target.parent();
        let i = imageBox.find("div").index(target);
        files = [];
        globalThis.uuids.splice(i , 1);
        fileArray.splice(i, 1);

        fileArray.forEach(file => {
            if(file.name == null && file.name == undefined){
                dataTransfer.items.add(file);
            }else {
                files.push(file);
            }
            dataTransfer.files.forEach((file, i) =>{
                files.push(file);
            });
        });

        target.remove();
    });


    // 작성 완료
    $(".register-button").click(() => {
        let text = "";

        let boardTitle = $(".title").val();
        let boardContent = $(".contents").val();

        files.forEach((file, i) => {
            text +=
                `
                <input type="hidden" name="boardFileVOS[${i}].boardFileOriginalName" value="${file.name}">
                <input type="hidden" name="boardFileVOS[${i}].boardFileVOSFileUuid" value="${globalThis.uuids[i]}">
                <input type="hidden" name="boardFileVOS[${i}].boardFileVOSFilePath" value="${toStringByFormatting(new Date())}">
                `;
        });
        $("form[name=form]").append(text);
        $("form[name=form]").submit();

    });






    // =================================================
    function leftPad(value) {
        if (value >= 10) {
            return value;
        }

        return `0${value}`;
    }

    function toStringByFormatting(source, delimiter = '/') {
        const year = source.getFullYear();
        const month = leftPad(source.getMonth() + 1);
        const day = leftPad(source.getDate());

        return [year, month, day].join(delimiter);
    }


</script>
</html>