<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 작성페이지</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/board/boardWrite.css">
</head>
<body>
    <div class="box">
        <div class="container">
            <div class="main-box">
                <div class="main-container">
                    <form action="/board/write" method="post">
                        <div class="main-header-box">
                            <div class="main-header-container">
                                <button type="submit" class="register-button">등록</button>
                            </div>
                        </div>
                        <div class="image-input-box">
                            <div class="image-input-container">
                                <label class="image-icon" for="boardImage"></label>
                                <div class="file-input-box">
                                    <input id="boardImage" type="file" class="file-input">
                                </div>
                                <span class="image-count">0/15</span>
                            </div>
                        </div>
                        <div class="title-box">
                            <div class="title-container">
                                <label class="title-input-box">
                                    <input type="text" class="title" name="boardTitle" placeholder="제목을 입력해주세요.">
                                </label>
                            </div>
                        </div>
                        <div class="content-wrapper">
                            <hr class="line">
                        </div>
                        <div class="sumnail-box">
                            <div class="sumnail-container">
                                <div class="sumnail-view">
                                    <img src="/img/board/cancel.png" class="cancel-image">
                                    <img src="https://static.cdn.soomgo.com/upload/soomgo-life/057f0070-5754-4192-b714-a3128c3c1a81.png?h=80&w=80&webp=1" class="sumnail">
                                </div>
                            </div>
                        </div>
                        <div class="board-content-box">
                            <span class="text-body">
                                <textarea class="contents" name="boardContent"></textarea>
                            </span>
                            <span class="contents-info text-body">
                                생활 속에서 궁금했던 모든 것을 물어보세요.

                                예) 도어락 버튼이 작동을 안 하는데 왜 그런건가요?
                                예) 바닥 장판이 들떴는데 원인이 궁금해요.

                                ※ 주제에 맞지 않는 글이나 커뮤니티 이용정책에 위배되는 글은 신고의 대상이 됩니다.
                                ※ 일정 수 이상의 신고를 받으면 작성한 글이 숨김 및 삭제될 수 있습니다.
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    let memberId = [[${session.memberId}]];
</script>
<script>
    $(".register-button").click(() => {

        console.log($(".title").val());

    });
</script>
</html>