<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login/login.css">
    <title>로그인 페이지</title>
</head>
<body>
    <div class="main-box">
        <div class="main-cotainer">
            <div class="header-box">
                <div class="header-container">
                    <div class="header-flex">
                        <div class="header-margin">
                            <div class="logo-box">
                                <div class="logo-container">
                                    <a href="#"><!-- 메인페이지 링크 -->
                                        <span>
                                            <img src="/img/logo.png" class="logo">
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="content-box">
                <h2 class="login-title">로그인</h2>
                <div class="content-container content-container-back-color ">
                    <form action="/member/login" method="post">
                        <div class="login-box">
                            <div class="login-text-box">
                                <div class="login-text-container">
                                    <legend>이메일</legend>
                                    <div class="input-box">
                                        <input type="text" class="login-input" id="identification" name="memberIdentification" placeholder="아이디를 입력해주세요">
                                        <div class="error-msg id-error">아이디를 입력해주세요.</div>
                                    </div>
                                </div>
                                <div class="login-text-container">
                                    <legend>비밀번호</legend>
                                    <div class="input-box">
                                        <input type="password" class="login-input" id="password" name="memberPassword" placeholder="비밀번호를 입력해주세요">
                                        <div class="error-msg password-error">비밀번호를 입력해주세요.</div>
                                    </div>
                                </div>
                                <div class="login-text-container">
                                    <button class="btn login-button">
                                        <span>로그인 하기</span>
                                    </button>
                                </div>
                                <div class="join-box">
                                    <div class="join-container">
                                        <a href="#" >비밀번호 찾기</a>
                                        <div class="line"></div>
                                        <a href="/member/join">회원가입</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/login/login.js"></script>
</html>